@import url(http://fonts.googleapis.com/css?family=Dosis);
.so-widget-sow-features-features-f2e109b9e9d3 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Dosis;
  font-weight: 400;
  
  
}
.so-widget-sow-features-features-f2e109b9e9d3 .sow-features-list .sow-features-feature .textwidget > p {
  font-family: Dosis;
  font-weight: 400;
  
  
}
.so-widget-sow-features-features-f2e109b9e9d3 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-family: Dosis;
  font-weight: 400;
  
  
}