@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
.so-widget-sow-headline-sow-headline-d9c965e65642 #sow-headline-container.sow-headline h1 {
  font-family: Open Sans;
  font-weight: 800;
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-d9c965e65642 #sow-headline-container.sow-headline h2 {
  font-family: Open Sans;
  font-weight: 600;
  text-align: center;
  color: #424242;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-d9c965e65642 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}