.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .social-media-button-container {
  zoom: 1;
  text-align: center;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-facebook {
  color: #ffffff !important;
  background: transparent;
  border: 2px solid #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #ffffff;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-twitter {
  color: #ffffff !important;
  background: transparent;
  border: 2px solid #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-twitter:visited,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-twitter:active,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-twitter:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-twitter.ow-button-hover:hover {
  background: #ffffff;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-linkedin {
  color: #ffffff !important;
  background: transparent;
  border: 2px solid #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-linkedin:visited,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-linkedin:active,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-linkedin:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-linkedin.ow-button-hover:hover {
  background: #ffffff;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-instagram {
  color: #ffffff !important;
  background: transparent;
  border: 2px solid #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-instagram:visited,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-instagram:active,
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-instagram:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button-instagram.ow-button-hover:hover {
  background: #ffffff;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button {
  font-size: 1em;
  padding: 1em 1em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-wire-9f4ed35692e6 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}