.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base a {
  font-size: 1.15em;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff !important;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base a:visited,
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base a:active,
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-wire-2c0e0f1ca757 .ow-button-base a.ow-button-hover:hover {
  background: #ffffff;
  color: #f46455 !important;
}