@import url(http://fonts.googleapis.com/css?family=Dosis);
.so-widget-sow-features-features-2e97b4a28480 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Dosis;
  font-weight: 400;
  font-size: px;
  
}
.so-widget-sow-features-features-2e97b4a28480 .sow-features-list .sow-features-feature .textwidget > p {
  font-family: Dosis;
  font-weight: 400;
  font-size: px;
  
}
.so-widget-sow-features-features-2e97b4a28480 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-family: Dosis;
  font-weight: 400;
  font-size: px;
  
}