/*
Theme Name: Amazing Blog
Theme URI: http://evisionthemes.com/themes/amazing-blog
Author: eVision Themes
Author URI: http://evisionthemes.com/
Description: Amazing Blog is a clean, modern fully responsive WordPress blog theme, beautifully crafted to create stunning blog web pages for personal and business. With awesome and elegant design, tons of features are available in WordPress admin panel. Just a moments, No coding required to create a professional blog site. Get free support at http://evisionthemes.com/supports and check the demo at http://demo.evisionthemes.com/amazing-blog
Version: 1.0.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amazing-blog
Tags: orange, gray, light, one-column, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-colors, custom-menu, theme-options, threaded-comments, translation-ready

Amazing Blog is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*======================================
Amazing Blog Table Of Content

1. Normalize
  
-----------------------------------------
2. General Styles
  2.1 Links
  2.2 Typography
  2.3 Accessibility
  2.4 Forms
  2.5 Placeholder
  2.6 Button
  2.7 Clearings
  2.8 Table

-----------------------------------------
3. Header
  3.1 Header Top Bar
  3.2 Header Nav Bar

-----------------------------------------
4. Sidebar
  4.1 Widget
  4.1 Widget_archive
  4.2 Widget_calendar
  4.3 Widget_categories
  4.4 Widget_nav_menu
  4.5 Widget_meta
  4.6 Widget_pages
  4.7 Widget_recent_comments
  4.8 Widget_recent_entries
  4.9 Widget_rss
  4.10 Widget_search
  4.11 Widget_tag_cloud
  4.12 Widget_text

-----------------------------------------
5. Primary
  5.1 Articles

-----------------------------------------
6. Footer
  6.1 Site Info

-----------------------------------------
7. Content
  7.1 Alignments
  7.2 Posts and Pages
  7.3 Asides
  7.4 Comments
  7.5 404 page
-----------------------------------------
8. Infinite scroll

-----------------------------------------

9. Media
  9.1 Captions
  9.2 Galleries

-----------------------------------------

10. Global
  
-----------------------------------------

11. Custom Pages
  11.1 Custom Pages style

========================================= 

/* ====================================================== */
/* 1 Normalize */
/* --------------------------------------- */

.container {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; } @media (min-width: 768px) {.container {width: 750px; } } @media (min-width: 1024px) {.container {width: 990px; } } @media (min-width: 1200px) {.container {width: 1170px; } } .container-full {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; } .row {margin-right: -15px; margin-left: -15px; } .column-xsd-1, .column-sd-1, .column-md-1, .column-ld-1, .column-xsd-2, .column-sd-2, .column-md-2, .column-ld-2, .column-xsd-3, .column-sd-3, .column-md-3, .column-ld-3, .column-xsd-4, .column-sd-4, .column-md-4, .column-ld-4, .column-xsd-5, .column-sd-5, .column-md-5, .column-ld-5, .column-xsd-6, .column-sd-6, .column-md-6, .column-ld-6, .column-xsd-7, .column-sd-7, .column-md-7, .column-ld-7, .column-xsd-8, .column-sd-8, .column-md-8, .column-ld-8, .column-xsd-9, .column-sd-9, .column-md-9, .column-ld-9, .column-xsd-10, .column-sd-10, .column-md-10, .column-ld-10, .column-xsd-11, .column-sd-11, .column-md-11, .column-ld-11, .column-xsd-12, .column-sd-12, .column-md-12, .column-ld-12 {position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; } .column-xsd-1, .column-xsd-2, .column-xsd-3, .column-xsd-4, .column-xsd-5, .column-xsd-6, .column-xsd-7, .column-xsd-8, .column-xsd-9, .column-xsd-10, .column-xsd-11, .column-xsd-12 {float: left; } .column-xsd-12 {width: 100%; } .column-xsd-11 {width: 91.66666667%; } .column-xsd-10 {width: 83.33333333%; } .column-xsd-9 {width: 75%; } .column-xsd-8 {width: 66.66666667%; } .column-xsd-7 {width: 58.33333333%; } .column-xsd-6 {width: 50%; } .column-xsd-5 {width: 41.66666667%; } .column-xsd-4 {width: 33.33333333%; } .column-xsd-3 {width: 25%; } .column-xsd-2 {width: 16.66666667%; } .column-xsd-1 {width: 8.33333333%; } .column-xsd-offset-12 {margin-left: 100%; } .column-xsd-offset-11 {margin-left: 91.66666667%; } .column-xsd-offset-10 {margin-left: 83.33333333%; } .column-xsd-offset-9 {margin-left: 75%; } .column-xsd-offset-8 {margin-left: 66.66666667%; } .column-xsd-offset-7 {margin-left: 58.33333333%; } .column-xsd-offset-6 {margin-left: 50%; } .column-xsd-offset-5 {margin-left: 41.66666667%; } .column-xsd-offset-4 {margin-left: 33.33333333%; } .column-xsd-offset-3 {margin-left: 25%; } .column-xsd-offset-2 {margin-left: 16.66666667%; } .column-xsd-offset-1 {margin-left: 8.33333333%; } .column-xsd-offset-0 {margin-left: 0; } @media (min-width: 768px) {.column-sd-1, .column-sd-2, .column-sd-3, .column-sd-4, .column-sd-5, .column-sd-6, .column-sd-7, .column-sd-8, .column-sd-9, .column-sd-10, .column-sd-11, .column-sd-12 {float: left; } .column-sd-12 {width: 100%; } .column-sd-11 {width: 91.66666667%; } .column-sd-10 {width: 83.33333333%; } .column-sd-9 {width: 75%; } .column-sd-8 {width: 66.66666667%; } .column-sd-7 {width: 58.33333333%; } .column-sd-6 {width: 50%; } .column-sd-5 {width: 41.66666667%; } .column-sd-4 {width: 33.33333333%; } .column-sd-3 {width: 25%; } .column-sd-2 {width: 16.66666667%; } .column-sd-1 {width: 8.33333333%; } .column-sd-offset-12 {margin-left: 100%; } .column-sd-offset-11 {margin-left: 91.66666667%; } .column-sd-offset-10 {margin-left: 83.33333333%; } .column-sd-offset-9 {margin-left: 75%; } .column-sd-offset-8 {margin-left: 66.66666667%; } .column-sd-offset-7 {margin-left: 58.33333333%; } .column-sd-offset-6 {margin-left: 50%; } .column-sd-offset-5 {margin-left: 41.66666667%; } .column-sd-offset-4 {margin-left: 33.33333333%; } .column-sd-offset-3 {margin-left: 25%; } .column-sd-offset-2 {margin-left: 16.66666667%; } .column-sd-offset-1 {margin-left: 8.33333333%; } .column-sd-offset-0 {margin-left: 0; } } @media (min-width: 1024px) {.column-md-1, .column-md-2, .column-md-3, .column-md-4, .column-md-5, .column-md-6, .column-md-7, .column-md-8, .column-md-9, .column-md-10, .column-md-11, .column-md-12 {float: left; } .column-md-12 {width: 100%; } .column-md-11 {width: 91.66666667%; } .column-md-10 {width: 83.33333333%; } .column-md-9 {width: 75%; } .column-md-8 {width: 66.66666667%; } .column-md-7 {width: 58.33333333%; } .column-md-6 {width: 50%; } .column-md-5 {width: 41.66666667%; } .column-md-4 {width: 33.33333333%; } .column-md-3 {width: 25%; } .column-md-2 {width: 16.66666667%; } .column-md-1 {width: 8.33333333%; } .column-md-offset-12 {margin-left: 100%; } .column-md-offset-11 {margin-left: 91.66666667%; } .column-md-offset-10 {margin-left: 83.33333333%; } .column-md-offset-9 {margin-left: 75%; } .column-md-offset-8 {margin-left: 66.66666667%; } .column-md-offset-7 {margin-left: 58.33333333%; } .column-md-offset-6 {margin-left: 50%; } .column-md-offset-5 {margin-left: 41.66666667%; } .column-md-offset-4 {margin-left: 33.33333333%; } .column-md-offset-3 {margin-left: 25%; } .column-md-offset-2 {margin-left: 16.66666667%; } .column-md-offset-1 {margin-left: 8.33333333%; } .column-md-offset-0 {margin-left: 0; } } @media (min-width: 1200px) {.column-ld-1, .column-ld-2, .column-ld-3, .column-ld-4, .column-ld-5, .column-ld-6, .column-ld-7, .column-ld-8, .column-ld-9, .column-ld-10, .column-ld-11, .column-ld-12 {float: left; } .column-ld-12 {width: 100%; } .column-ld-11 {width: 91.66666667%; } .column-ld-10 {width: 83.33333333%; } .column-ld-9 {width: 75%; } .column-ld-8 {width: 66.66666667%; } .column-ld-7 {width: 58.33333333%; } .column-ld-6 {width: 50%; } .column-ld-5 {width: 41.66666667%; } .column-ld-4 {width: 33.33333333%; } .column-ld-3 {width: 25%; } .column-ld-2 {width: 16.66666667%; } .column-ld-1 {width: 8.33333333%; } .column-ld-offset-12 {margin-left: 100%; } .column-ld-offset-11 {margin-left: 91.66666667%; } .column-ld-offset-10 {margin-left: 83.33333333%; } .column-ld-offset-9 {margin-left: 75%; } .column-ld-offset-8 {margin-left: 66.66666667%; } .column-ld-offset-7 {margin-left: 58.33333333%; } .column-ld-offset-6 {margin-left: 50%; } .column-ld-offset-5 {margin-left: 41.66666667%; } .column-ld-offset-4 {margin-left: 33.33333333%; } .column-ld-offset-3 {margin-left: 25%; } .column-ld-offset-2 {margin-left: 16.66666667%; } .column-ld-offset-1 {margin-left: 8.33333333%; } .column-ld-offset-0 {margin-left: 0; } }

.clearblock:before,
.clearblock:after,
.container:before,
.container:after,
.container-full:before,
.container-full:after,
.row:before,
.row:after{
  display: table;
  content: " ";
}
.clearblock:after,
.container:after,
.container-full:after,
.row:after{
  clear: both;
}

/*! *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */ /* FONT PATH * -------------------------- */ @font-face {font-family: 'FontAwesome'; src: url('assets/fonts/fontawesome-webfont.eot?v=4.5.0'); src: url('assets/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('assets/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('assets/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('assets/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('assets/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; } .fa {display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } /* makes the font 33% larger relative to the icon container */ .fa-lg {font-size: 1.33333333em; line-height: 0.75em; vertical-align: -15%; } .fa-2x {font-size: 2em; } .fa-3x {font-size: 3em; } .fa-4x {font-size: 4em; } .fa-5x {font-size: 5em; } .fa-fw {width: 1.28571429em; text-align: center; } .fa-ul {padding-left: 0; margin-left: 2.14285714em; list-style-type: none; } .fa-ul > li {position: relative; } .fa-li {position: absolute; left: -2.14285714em; width: 2.14285714em; top: 0.14285714em; text-align: center; } .fa-li.fa-lg {left: -1.85714286em; } .fa-border {padding: .2em .25em .15em; border: solid 0.08em #eeeeee; border-radius: .1em; } .fa-pull-left {float: left; } .fa-pull-right {float: right; } .fa.fa-pull-left {margin-right: .3em; } .fa.fa-pull-right {margin-left: .3em; } /* Deprecated as of 4.4.0 */ .pull-right {float: right; } .pull-left {float: left; } .fa.pull-left {margin-right: .3em; } .fa.pull-right {margin-left: .3em; } .fa-spin {-webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; } .fa-pulse {-webkit-animation: fa-spin 1s infinite steps(8); animation: fa-spin 1s infinite steps(8); } @-webkit-keyframes fa-spin {0% {-webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% {-webkit-transform: rotate(359deg); transform: rotate(359deg); } } @keyframes fa-spin {0% {-webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% {-webkit-transform: rotate(359deg); transform: rotate(359deg); } } .fa-rotate-90 {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); } .fa-rotate-180 {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); } .fa-rotate-270 {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); } .fa-flip-horizontal {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1); -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); } .fa-flip-vertical {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1); -webkit-transform: scale(1, -1); -ms-transform: scale(1, -1); transform: scale(1, -1); } :root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {filter: none; } .fa-stack {position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; } .fa-stack-1x, .fa-stack-2x {position: absolute; left: 0; width: 100%; text-align: center; } .fa-stack-1x {line-height: inherit; } .fa-stack-2x {font-size: 2em; } .fa-inverse {color: #ffffff; } /* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */ .fa-glass:before {content: "\f000"; } .fa-music:before {content: "\f001"; } .fa-search:before {content: "\f002"; } .fa-envelope-o:before {content: "\f003"; } .fa-heart:before {content: "\f004"; } .fa-star:before {content: "\f005"; } .fa-star-o:before {content: "\f006"; } .fa-user:before {content: "\f007"; } .fa-film:before {content: "\f008"; } .fa-th-large:before {content: "\f009"; } .fa-th:before {content: "\f00a"; } .fa-th-list:before {content: "\f00b"; } .fa-check:before {content: "\f00c"; } .fa-remove:before, .fa-close:before, .fa-times:before {content: "\f00d"; } .fa-search-plus:before {content: "\f00e"; } .fa-search-minus:before {content: "\f010"; } .fa-power-off:before {content: "\f011"; } .fa-signal:before {content: "\f012"; } .fa-gear:before, .fa-cog:before {content: "\f013"; } .fa-trash-o:before {content: "\f014"; } .fa-home:before {content: "\f015"; } .fa-file-o:before {content: "\f016"; } .fa-clock-o:before {content: "\f017"; } .fa-road:before {content: "\f018"; } .fa-download:before {content: "\f019"; } .fa-arrow-circle-o-down:before {content: "\f01a"; } .fa-arrow-circle-o-up:before {content: "\f01b"; } .fa-inbox:before {content: "\f01c"; } .fa-play-circle-o:before {content: "\f01d"; } .fa-rotate-right:before, .fa-repeat:before {content: "\f01e"; } .fa-refresh:before {content: "\f021"; } .fa-list-alt:before {content: "\f022"; } .fa-lock:before {content: "\f023"; } .fa-flag:before {content: "\f024"; } .fa-headphones:before {content: "\f025"; } .fa-volume-off:before {content: "\f026"; } .fa-volume-down:before {content: "\f027"; } .fa-volume-up:before {content: "\f028"; } .fa-qrcode:before {content: "\f029"; } .fa-barcode:before {content: "\f02a"; } .fa-tag:before {content: "\f02b"; } .fa-tags:before {content: "\f02c"; } .fa-book:before {content: "\f02d"; } .fa-bookmark:before {content: "\f02e"; } .fa-print:before {content: "\f02f"; } .fa-camera:before {content: "\f030"; } .fa-font:before {content: "\f031"; } .fa-bold:before {content: "\f032"; } .fa-italic:before {content: "\f033"; } .fa-text-height:before {content: "\f034"; } .fa-text-width:before {content: "\f035"; } .fa-align-left:before {content: "\f036"; } .fa-align-center:before {content: "\f037"; } .fa-align-right:before {content: "\f038"; } .fa-align-justify:before {content: "\f039"; } .fa-list:before {content: "\f03a"; } .fa-dedent:before, .fa-outdent:before {content: "\f03b"; } .fa-indent:before {content: "\f03c"; } .fa-video-camera:before {content: "\f03d"; } .fa-photo:before, .fa-image:before, .fa-picture-o:before {content: "\f03e"; } .fa-pencil:before {content: "\f040"; } .fa-map-marker:before {content: "\f041"; } .fa-adjust:before {content: "\f042"; } .fa-tint:before {content: "\f043"; } .fa-edit:before, .fa-pencil-square-o:before {content: "\f044"; } .fa-share-square-o:before {content: "\f045"; } .fa-check-square-o:before {content: "\f046"; } .fa-arrows:before {content: "\f047"; } .fa-step-backward:before {content: "\f048"; } .fa-fast-backward:before {content: "\f049"; } .fa-backward:before {content: "\f04a"; } .fa-play:before {content: "\f04b"; } .fa-pause:before {content: "\f04c"; } .fa-stop:before {content: "\f04d"; } .fa-forward:before {content: "\f04e"; } .fa-fast-forward:before {content: "\f050"; } .fa-step-forward:before {content: "\f051"; } .fa-eject:before {content: "\f052"; } .fa-chevron-left:before {content: "\f053"; } .fa-chevron-right:before {content: "\f054"; } .fa-plus-circle:before {content: "\f055"; } .fa-minus-circle:before {content: "\f056"; } .fa-times-circle:before {content: "\f057"; } .fa-check-circle:before {content: "\f058"; } .fa-question-circle:before {content: "\f059"; } .fa-info-circle:before {content: "\f05a"; } .fa-crosshairs:before {content: "\f05b"; } .fa-times-circle-o:before {content: "\f05c"; } .fa-check-circle-o:before {content: "\f05d"; } .fa-ban:before {content: "\f05e"; } .fa-arrow-left:before {content: "\f060"; } .fa-arrow-right:before {content: "\f061"; } .fa-arrow-up:before {content: "\f062"; } .fa-arrow-down:before {content: "\f063"; } .fa-mail-forward:before, .fa-share:before {content: "\f064"; } .fa-expand:before {content: "\f065"; } .fa-compress:before {content: "\f066"; } .fa-plus:before {content: "\f067"; } .fa-minus:before {content: "\f068"; } .fa-asterisk:before {content: "\f069"; } .fa-exclamation-circle:before {content: "\f06a"; } .fa-gift:before {content: "\f06b"; } .fa-leaf:before {content: "\f06c"; } .fa-fire:before {content: "\f06d"; } .fa-eye:before {content: "\f06e"; } .fa-eye-slash:before {content: "\f070"; } .fa-warning:before, .fa-exclamation-triangle:before {content: "\f071"; } .fa-plane:before {content: "\f072"; } .fa-calendar:before {content: "\f073"; } .fa-random:before {content: "\f074"; } .fa-comment:before {content: "\f075"; } .fa-magnet:before {content: "\f076"; } .fa-chevron-up:before {content: "\f077"; } .fa-chevron-down:before {content: "\f078"; } .fa-retweet:before {content: "\f079"; } .fa-shopping-cart:before {content: "\f07a"; } .fa-folder:before {content: "\f07b"; } .fa-folder-open:before {content: "\f07c"; } .fa-arrows-v:before {content: "\f07d"; } .fa-arrows-h:before {content: "\f07e"; } .fa-bar-chart-o:before, .fa-bar-chart:before {content: "\f080"; } .fa-twitter-square:before {content: "\f081"; } .fa-facebook-square:before {content: "\f082"; } .fa-camera-retro:before {content: "\f083"; } .fa-key:before {content: "\f084"; } .fa-gears:before, .fa-cogs:before {content: "\f085"; } .fa-comments:before {content: "\f086"; } .fa-thumbs-o-up:before {content: "\f087"; } .fa-thumbs-o-down:before {content: "\f088"; } .fa-star-half:before {content: "\f089"; } .fa-heart-o:before {content: "\f08a"; } .fa-sign-out:before {content: "\f08b"; } .fa-linkedin-square:before {content: "\f08c"; } .fa-thumb-tack:before {content: "\f08d"; } .fa-external-link:before {content: "\f08e"; } .fa-sign-in:before {content: "\f090"; } .fa-trophy:before {content: "\f091"; } .fa-github-square:before {content: "\f092"; } .fa-upload:before {content: "\f093"; } .fa-lemon-o:before {content: "\f094"; } .fa-phone:before {content: "\f095"; } .fa-square-o:before {content: "\f096"; } .fa-bookmark-o:before {content: "\f097"; } .fa-phone-square:before {content: "\f098"; } .fa-twitter:before {content: "\f099"; } .fa-facebook-f:before, .fa-facebook:before {content: "\f09a"; } .fa-github:before {content: "\f09b"; } .fa-unlock:before {content: "\f09c"; } .fa-credit-card:before {content: "\f09d"; } .fa-feed:before, .fa-rss:before {content: "\f09e"; } .fa-hdd-o:before {content: "\f0a0"; } .fa-bullhorn:before {content: "\f0a1"; } .fa-bell:before {content: "\f0f3"; } .fa-certificate:before {content: "\f0a3"; } .fa-hand-o-right:before {content: "\f0a4"; } .fa-hand-o-left:before {content: "\f0a5"; } .fa-hand-o-up:before {content: "\f0a6"; } .fa-hand-o-down:before {content: "\f0a7"; } .fa-arrow-circle-left:before {content: "\f0a8"; } .fa-arrow-circle-right:before {content: "\f0a9"; } .fa-arrow-circle-up:before {content: "\f0aa"; } .fa-arrow-circle-down:before {content: "\f0ab"; } .fa-globe:before {content: "\f0ac"; } .fa-wrench:before {content: "\f0ad"; } .fa-tasks:before {content: "\f0ae"; } .fa-filter:before {content: "\f0b0"; } .fa-briefcase:before {content: "\f0b1"; } .fa-arrows-alt:before {content: "\f0b2"; } .fa-group:before, .fa-users:before {content: "\f0c0"; } .fa-chain:before, .fa-link:before {content: "\f0c1"; } .fa-cloud:before {content: "\f0c2"; } .fa-flask:before {content: "\f0c3"; } .fa-cut:before, .fa-scissors:before {content: "\f0c4"; } .fa-copy:before, .fa-files-o:before {content: "\f0c5"; } .fa-paperclip:before {content: "\f0c6"; } .fa-save:before, .fa-floppy-o:before {content: "\f0c7"; } .fa-square:before {content: "\f0c8"; } .fa-navicon:before, .fa-reorder:before, .fa-bars:before {content: "\f0c9"; } .fa-list-ul:before {content: "\f0ca"; } .fa-list-ol:before {content: "\f0cb"; } .fa-strikethrough:before {content: "\f0cc"; } .fa-underline:before {content: "\f0cd"; } .fa-table:before {content: "\f0ce"; } .fa-magic:before {content: "\f0d0"; } .fa-truck:before {content: "\f0d1"; } .fa-pinterest:before {content: "\f0d2"; } .fa-pinterest-square:before {content: "\f0d3"; } .fa-google-plus-square:before {content: "\f0d4"; } .fa-google-plus:before {content: "\f0d5"; } .fa-money:before {content: "\f0d6"; } .fa-caret-down:before {content: "\f0d7"; } .fa-caret-up:before {content: "\f0d8"; } .fa-caret-left:before {content: "\f0d9"; } .fa-caret-right:before {content: "\f0da"; } .fa-columns:before {content: "\f0db"; } .fa-unsorted:before, .fa-sort:before {content: "\f0dc"; } .fa-sort-down:before, .fa-sort-desc:before {content: "\f0dd"; } .fa-sort-up:before, .fa-sort-asc:before {content: "\f0de"; } .fa-envelope:before {content: "\f0e0"; } .fa-linkedin:before {content: "\f0e1"; } .fa-rotate-left:before, .fa-undo:before {content: "\f0e2"; } .fa-legal:before, .fa-gavel:before {content: "\f0e3"; } .fa-dashboard:before, .fa-tachometer:before {content: "\f0e4"; } .fa-comment-o:before {content: "\f0e5"; } .fa-comments-o:before {content: "\f0e6"; } .fa-flash:before, .fa-bolt:before {content: "\f0e7"; } .fa-sitemap:before {content: "\f0e8"; } .fa-umbrella:before {content: "\f0e9"; } .fa-paste:before, .fa-clipboard:before {content: "\f0ea"; } .fa-lightbulb-o:before {content: "\f0eb"; } .fa-exchange:before {content: "\f0ec"; } .fa-cloud-download:before {content: "\f0ed"; } .fa-cloud-upload:before {content: "\f0ee"; } .fa-user-md:before {content: "\f0f0"; } .fa-stethoscope:before {content: "\f0f1"; } .fa-suitcase:before {content: "\f0f2"; } .fa-bell-o:before {content: "\f0a2"; } .fa-coffee:before {content: "\f0f4"; } .fa-cutlery:before {content: "\f0f5"; }
.fa-file-text-o:before {content: "\f0f6"; } .fa-building-o:before {content: "\f0f7"; } .fa-hospital-o:before {content: "\f0f8"; } .fa-ambulance:before {content: "\f0f9"; } .fa-medkit:before {content: "\f0fa"; } .fa-fighter-jet:before {content: "\f0fb"; } .fa-beer:before {content: "\f0fc"; } .fa-h-square:before {content: "\f0fd"; } .fa-plus-square:before {content: "\f0fe"; } .fa-angle-double-left:before {content: "\f100"; } .fa-angle-double-right:before {content: "\f101"; } .fa-angle-double-up:before {content: "\f102"; } .fa-angle-double-down:before {content: "\f103"; } .fa-angle-left:before {content: "\f104"; } .fa-angle-right:before {content: "\f105"; } .fa-angle-up:before {content: "\f106"; } .fa-angle-down:before {content: "\f107"; } .fa-desktop:before {content: "\f108"; } .fa-laptop:before {content: "\f109"; } .fa-tablet:before {content: "\f10a"; } .fa-mobile-phone:before, .fa-mobile:before {content: "\f10b"; } .fa-circle-o:before {content: "\f10c"; } .fa-quote-left:before {content: "\f10d"; } .fa-quote-right:before {content: "\f10e"; } .fa-spinner:before {content: "\f110"; } .fa-circle:before {content: "\f111"; } .fa-mail-reply:before, .fa-reply:before {content: "\f112"; } .fa-github-alt:before {content: "\f113"; } .fa-folder-o:before {content: "\f114"; } .fa-folder-open-o:before {content: "\f115"; } .fa-smile-o:before {content: "\f118"; } .fa-frown-o:before {content: "\f119"; } .fa-meh-o:before {content: "\f11a"; } .fa-gamepad:before {content: "\f11b"; } .fa-keyboard-o:before {content: "\f11c"; } .fa-flag-o:before {content: "\f11d"; } .fa-flag-checkered:before {content: "\f11e"; } .fa-terminal:before {content: "\f120"; } .fa-code:before {content: "\f121"; } .fa-mail-reply-all:before, .fa-reply-all:before {content: "\f122"; } .fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {content: "\f123"; } .fa-location-arrow:before {content: "\f124"; } .fa-crop:before {content: "\f125"; } .fa-code-fork:before {content: "\f126"; } .fa-unlink:before, .fa-chain-broken:before {content: "\f127"; } .fa-question:before {content: "\f128"; } .fa-info:before {content: "\f129"; } .fa-exclamation:before {content: "\f12a"; } .fa-superscript:before {content: "\f12b"; } .fa-subscript:before {content: "\f12c"; } .fa-eraser:before {content: "\f12d"; } .fa-puzzle-piece:before {content: "\f12e"; } .fa-microphone:before {content: "\f130"; } .fa-microphone-slash:before {content: "\f131"; } .fa-shield:before {content: "\f132"; } .fa-calendar-o:before {content: "\f133"; } .fa-fire-extinguisher:before {content: "\f134"; } .fa-rocket:before {content: "\f135"; } .fa-maxcdn:before {content: "\f136"; } .fa-chevron-circle-left:before {content: "\f137"; } .fa-chevron-circle-right:before {content: "\f138"; } .fa-chevron-circle-up:before {content: "\f139"; } .fa-chevron-circle-down:before {content: "\f13a"; } .fa-html5:before {content: "\f13b"; } .fa-css3:before {content: "\f13c"; } .fa-anchor:before {content: "\f13d"; } .fa-unlock-alt:before {content: "\f13e"; } .fa-bullseye:before {content: "\f140"; } .fa-ellipsis-h:before {content: "\f141"; } .fa-ellipsis-v:before {content: "\f142"; } .fa-rss-square:before {content: "\f143"; } .fa-play-circle:before {content: "\f144"; } .fa-ticket:before {content: "\f145"; } .fa-minus-square:before {content: "\f146"; } .fa-minus-square-o:before {content: "\f147"; } .fa-level-up:before {content: "\f148"; } .fa-level-down:before {content: "\f149"; } .fa-check-square:before {content: "\f14a"; } .fa-pencil-square:before {content: "\f14b"; } .fa-external-link-square:before {content: "\f14c"; } .fa-share-square:before {content: "\f14d"; } .fa-compass:before {content: "\f14e"; } .fa-toggle-down:before, .fa-caret-square-o-down:before {content: "\f150"; } .fa-toggle-up:before, .fa-caret-square-o-up:before {content: "\f151"; } .fa-toggle-right:before, .fa-caret-square-o-right:before {content: "\f152"; } .fa-euro:before, .fa-eur:before {content: "\f153"; } .fa-gbp:before {content: "\f154"; } .fa-dollar:before, .fa-usd:before {content: "\f155"; } .fa-rupee:before, .fa-inr:before {content: "\f156"; } .fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {content: "\f157"; } .fa-ruble:before, .fa-rouble:before, .fa-rub:before {content: "\f158"; } .fa-won:before, .fa-krw:before {content: "\f159"; } .fa-bitcoin:before, .fa-btc:before {content: "\f15a"; } .fa-file:before {content: "\f15b"; } .fa-file-text:before {content: "\f15c"; } .fa-sort-alpha-asc:before {content: "\f15d"; } .fa-sort-alpha-desc:before {content: "\f15e"; } .fa-sort-amount-asc:before {content: "\f160"; } .fa-sort-amount-desc:before {content: "\f161"; } .fa-sort-numeric-asc:before {content: "\f162"; } .fa-sort-numeric-desc:before {content: "\f163"; } .fa-thumbs-up:before {content: "\f164"; } .fa-thumbs-down:before {content: "\f165"; } .fa-youtube-square:before {content: "\f166"; } .fa-youtube:before {content: "\f167"; } .fa-xing:before {content: "\f168"; } .fa-xing-square:before {content: "\f169"; } .fa-youtube-play:before {content: "\f16a"; } .fa-dropbox:before {content: "\f16b"; } .fa-stack-overflow:before {content: "\f16c"; } .fa-instagram:before {content: "\f16d"; } .fa-flickr:before {content: "\f16e"; } .fa-adn:before {content: "\f170"; } .fa-bitbucket:before {content: "\f171"; } .fa-bitbucket-square:before {content: "\f172"; } .fa-tumblr:before {content: "\f173"; } .fa-tumblr-square:before {content: "\f174"; } .fa-long-arrow-down:before {content: "\f175"; } .fa-long-arrow-up:before {content: "\f176"; } .fa-long-arrow-left:before {content: "\f177"; } .fa-long-arrow-right:before {content: "\f178"; } .fa-apple:before {content: "\f179"; } .fa-windows:before {content: "\f17a"; } .fa-android:before {content: "\f17b"; } .fa-linux:before {content: "\f17c"; } .fa-dribbble:before {content: "\f17d"; } .fa-skype:before {content: "\f17e"; } .fa-foursquare:before {content: "\f180"; } .fa-trello:before {content: "\f181"; } .fa-female:before {content: "\f182"; } .fa-male:before {content: "\f183"; } .fa-gittip:before, .fa-gratipay:before {content: "\f184"; } .fa-sun-o:before {content: "\f185"; } .fa-moon-o:before {content: "\f186"; } .fa-archive:before {content: "\f187"; } .fa-bug:before {content: "\f188"; } .fa-vk:before {content: "\f189"; } .fa-weibo:before {content: "\f18a"; } .fa-renren:before {content: "\f18b"; } .fa-pagelines:before {content: "\f18c"; } .fa-stack-exchange:before {content: "\f18d"; } .fa-arrow-circle-o-right:before {content: "\f18e"; } .fa-arrow-circle-o-left:before {content: "\f190"; } .fa-toggle-left:before, .fa-caret-square-o-left:before {content: "\f191"; } .fa-dot-circle-o:before {content: "\f192"; } .fa-wheelchair:before {content: "\f193"; } .fa-vimeo-square:before {content: "\f194"; } .fa-turkish-lira:before, .fa-try:before {content: "\f195"; } .fa-plus-square-o:before {content: "\f196"; } .fa-space-shuttle:before {content: "\f197"; } .fa-slack:before {content: "\f198"; } .fa-envelope-square:before {content: "\f199"; } .fa-wordpress:before {content: "\f19a"; } .fa-openid:before {content: "\f19b"; } .fa-institution:before, .fa-bank:before, .fa-university:before {content: "\f19c"; } .fa-mortar-board:before, .fa-graduation-cap:before {content: "\f19d"; } .fa-yahoo:before {content: "\f19e"; } .fa-google:before {content: "\f1a0"; } .fa-reddit:before {content: "\f1a1"; } .fa-reddit-square:before {content: "\f1a2"; } .fa-stumbleupon-circle:before {content: "\f1a3"; } .fa-stumbleupon:before {content: "\f1a4"; } .fa-delicious:before {content: "\f1a5"; } .fa-digg:before {content: "\f1a6"; } .fa-pied-piper:before {content: "\f1a7"; } .fa-pied-piper-alt:before {content: "\f1a8"; } .fa-drupal:before {content: "\f1a9"; } .fa-joomla:before {content: "\f1aa"; } .fa-language:before {content: "\f1ab"; } .fa-fax:before {content: "\f1ac"; } .fa-building:before {content: "\f1ad"; } .fa-child:before {content: "\f1ae"; } .fa-paw:before {content: "\f1b0"; } .fa-spoon:before {content: "\f1b1"; } .fa-cube:before {content: "\f1b2"; } .fa-cubes:before {content: "\f1b3"; } .fa-behance:before {content: "\f1b4"; } .fa-behance-square:before {content: "\f1b5"; } .fa-steam:before {content: "\f1b6"; } .fa-steam-square:before {content: "\f1b7"; } .fa-recycle:before {content: "\f1b8"; } .fa-automobile:before, .fa-car:before {content: "\f1b9"; } .fa-cab:before, .fa-taxi:before {content: "\f1ba"; } .fa-tree:before {content: "\f1bb"; } .fa-spotify:before {content: "\f1bc"; } .fa-deviantart:before {content: "\f1bd"; } .fa-soundcloud:before {content: "\f1be"; } .fa-database:before {content: "\f1c0"; } .fa-file-pdf-o:before {content: "\f1c1"; } .fa-file-word-o:before {content: "\f1c2"; } .fa-file-excel-o:before {content: "\f1c3"; } .fa-file-powerpoint-o:before {content: "\f1c4"; } .fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {content: "\f1c5"; } .fa-file-zip-o:before, .fa-file-archive-o:before {content: "\f1c6"; } .fa-file-sound-o:before, .fa-file-audio-o:before {content: "\f1c7"; } .fa-file-movie-o:before, .fa-file-video-o:before {content: "\f1c8"; } .fa-file-code-o:before {content: "\f1c9"; } .fa-vine:before {content: "\f1ca"; } .fa-codepen:before {content: "\f1cb"; } .fa-jsfiddle:before {content: "\f1cc"; } .fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {content: "\f1cd"; } .fa-circle-o-notch:before {content: "\f1ce"; } .fa-ra:before, .fa-rebel:before {content: "\f1d0"; } .fa-ge:before, .fa-empire:before {content: "\f1d1"; } .fa-git-square:before {content: "\f1d2"; } .fa-git:before {content: "\f1d3"; } .fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {content: "\f1d4"; } .fa-tencent-weibo:before {content: "\f1d5"; } .fa-qq:before {content: "\f1d6"; } .fa-wechat:before, .fa-weixin:before {content: "\f1d7"; } .fa-send:before, .fa-paper-plane:before {content: "\f1d8"; } .fa-send-o:before, .fa-paper-plane-o:before {content: "\f1d9"; } .fa-history:before {content: "\f1da"; } .fa-circle-thin:before {content: "\f1db"; } .fa-header:before {content: "\f1dc"; } .fa-paragraph:before {content: "\f1dd"; } .fa-sliders:before {content: "\f1de"; } .fa-share-alt:before {content: "\f1e0"; } .fa-share-alt-square:before {content: "\f1e1"; } .fa-bomb:before {content: "\f1e2"; } .fa-soccer-ball-o:before, .fa-futbol-o:before {content: "\f1e3"; } .fa-tty:before {content: "\f1e4"; } .fa-binoculars:before {content: "\f1e5"; } .fa-plug:before {content: "\f1e6"; } .fa-slideshare:before {content: "\f1e7"; } .fa-twitch:before {content: "\f1e8"; } .fa-yelp:before {content: "\f1e9"; } .fa-newspaper-o:before {content: "\f1ea"; } .fa-wifi:before {content: "\f1eb"; } .fa-calculator:before {content: "\f1ec"; } .fa-paypal:before {content: "\f1ed"; } .fa-google-wallet:before {content: "\f1ee"; } .fa-cc-visa:before {content: "\f1f0"; } .fa-cc-mastercard:before {content: "\f1f1"; } .fa-cc-discover:before {content: "\f1f2"; } .fa-cc-amex:before {content: "\f1f3"; } .fa-cc-paypal:before {content: "\f1f4"; } .fa-cc-stripe:before {content: "\f1f5"; } .fa-bell-slash:before {content: "\f1f6"; } .fa-bell-slash-o:before {content: "\f1f7"; } .fa-trash:before {content: "\f1f8"; } .fa-copyright:before {content: "\f1f9"; } .fa-at:before {content: "\f1fa"; } .fa-eyedropper:before {content: "\f1fb"; } .fa-paint-brush:before {content: "\f1fc"; } .fa-birthday-cake:before {content: "\f1fd"; } .fa-area-chart:before {content: "\f1fe"; } .fa-pie-chart:before {content: "\f200"; } .fa-line-chart:before {content: "\f201"; } .fa-lastfm:before {content: "\f202"; } .fa-lastfm-square:before {content: "\f203"; } .fa-toggle-off:before {content: "\f204"; } .fa-toggle-on:before {content: "\f205"; } .fa-bicycle:before {content: "\f206"; } .fa-bus:before {content: "\f207"; } .fa-ioxhost:before {content: "\f208"; } .fa-angellist:before {content: "\f209"; } .fa-cc:before {content: "\f20a"; } .fa-shekel:before, .fa-sheqel:before, .fa-ils:before {content: "\f20b"; } .fa-meanpath:before {content: "\f20c"; } .fa-buysellads:before {content: "\f20d"; } .fa-connectdevelop:before {content: "\f20e"; } .fa-dashcube:before {content: "\f210"; } .fa-forumbee:before {content: "\f211"; } .fa-leanpub:before {content: "\f212"; } .fa-sellsy:before {content: "\f213"; } .fa-shirtsinbulk:before {content: "\f214"; } .fa-simplybuilt:before {content: "\f215"; } .fa-skyatlas:before {content: "\f216"; } .fa-cart-plus:before {content: "\f217"; } .fa-cart-arrow-down:before {content: "\f218"; } .fa-diamond:before {content: "\f219"; } .fa-ship:before {content: "\f21a"; } .fa-user-secret:before {content: "\f21b"; } .fa-motorcycle:before {content: "\f21c"; } .fa-street-view:before {content: "\f21d"; } .fa-heartbeat:before {content: "\f21e"; } .fa-venus:before {content: "\f221"; } .fa-mars:before {content: "\f222"; } .fa-mercury:before {content: "\f223"; } .fa-intersex:before, .fa-transgender:before {content: "\f224"; } .fa-transgender-alt:before {content: "\f225"; } .fa-venus-double:before {content: "\f226"; } .fa-mars-double:before {content: "\f227"; } .fa-venus-mars:before {content: "\f228"; } .fa-mars-stroke:before {content: "\f229"; } .fa-mars-stroke-v:before {content: "\f22a"; } .fa-mars-stroke-h:before {content: "\f22b"; } .fa-neuter:before {content: "\f22c"; } .fa-genderless:before {content: "\f22d"; } .fa-facebook-official:before {content: "\f230"; } .fa-pinterest-p:before {content: "\f231"; } .fa-whatsapp:before {content: "\f232"; } .fa-server:before {content: "\f233"; } .fa-user-plus:before {content: "\f234"; } .fa-user-times:before {content: "\f235"; } .fa-hotel:before, .fa-bed:before {content: "\f236"; } .fa-viacoin:before {content: "\f237"; } .fa-train:before {content: "\f238"; } .fa-subway:before {content: "\f239"; } .fa-medium:before {content: "\f23a"; } .fa-yc:before, .fa-y-combinator:before {content: "\f23b"; } .fa-optin-monster:before {content: "\f23c"; } .fa-opencart:before {content: "\f23d"; }
.fa-expeditedssl:before {content: "\f23e"; } .fa-battery-4:before, .fa-battery-full:before {content: "\f240"; } .fa-battery-3:before, .fa-battery-three-quarters:before {content: "\f241"; } .fa-battery-2:before, .fa-battery-half:before {content: "\f242"; } .fa-battery-1:before, .fa-battery-quarter:before {content: "\f243"; } .fa-battery-0:before, .fa-battery-empty:before {content: "\f244"; } .fa-mouse-pointer:before {content: "\f245"; } .fa-i-cursor:before {content: "\f246"; } .fa-object-group:before {content: "\f247"; } .fa-object-ungroup:before {content: "\f248"; } .fa-sticky-note:before {content: "\f249"; } .fa-sticky-note-o:before {content: "\f24a"; } .fa-cc-jcb:before {content: "\f24b"; } .fa-cc-diners-club:before {content: "\f24c"; } .fa-clone:before {content: "\f24d"; } .fa-balance-scale:before {content: "\f24e"; } .fa-hourglass-o:before {content: "\f250"; } .fa-hourglass-1:before, .fa-hourglass-start:before {content: "\f251"; } .fa-hourglass-2:before, .fa-hourglass-half:before {content: "\f252"; } .fa-hourglass-3:before, .fa-hourglass-end:before {content: "\f253"; } .fa-hourglass:before {content: "\f254"; } .fa-hand-grab-o:before, .fa-hand-rock-o:before {content: "\f255"; } .fa-hand-stop-o:before, .fa-hand-paper-o:before {content: "\f256"; } .fa-hand-scissors-o:before {content: "\f257"; } .fa-hand-lizard-o:before {content: "\f258"; } .fa-hand-spock-o:before {content: "\f259"; } .fa-hand-pointer-o:before {content: "\f25a"; } .fa-hand-peace-o:before {content: "\f25b"; } .fa-trademark:before {content: "\f25c"; } .fa-registered:before {content: "\f25d"; } .fa-creative-commons:before {content: "\f25e"; } .fa-gg:before {content: "\f260"; } .fa-gg-circle:before {content: "\f261"; } .fa-tripadvisor:before {content: "\f262"; } .fa-odnoklassniki:before {content: "\f263"; } .fa-odnoklassniki-square:before {content: "\f264"; } .fa-get-pocket:before {content: "\f265"; } .fa-wikipedia-w:before {content: "\f266"; } .fa-safari:before {content: "\f267"; } .fa-chrome:before {content: "\f268"; } .fa-firefox:before {content: "\f269"; } .fa-opera:before {content: "\f26a"; } .fa-internet-explorer:before {content: "\f26b"; } .fa-tv:before, .fa-television:before {content: "\f26c"; } .fa-contao:before {content: "\f26d"; } .fa-500px:before {content: "\f26e"; } .fa-amazon:before {content: "\f270"; } .fa-calendar-plus-o:before {content: "\f271"; } .fa-calendar-minus-o:before {content: "\f272"; } .fa-calendar-times-o:before {content: "\f273"; } .fa-calendar-check-o:before {content: "\f274"; } .fa-industry:before {content: "\f275"; } .fa-map-pin:before {content: "\f276"; } .fa-map-signs:before {content: "\f277"; } .fa-map-o:before {content: "\f278"; } .fa-map:before {content: "\f279"; } .fa-commenting:before {content: "\f27a"; } .fa-commenting-o:before {content: "\f27b"; } .fa-houzz:before {content: "\f27c"; } .fa-vimeo:before {content: "\f27d"; } .fa-black-tie:before {content: "\f27e"; } .fa-fonticons:before {content: "\f280"; } .fa-reddit-alien:before {content: "\f281"; } .fa-edge:before {content: "\f282"; } .fa-credit-card-alt:before {content: "\f283"; } .fa-codiepie:before {content: "\f284"; } .fa-modx:before {content: "\f285"; } .fa-fort-awesome:before {content: "\f286"; } .fa-usb:before {content: "\f287"; } .fa-product-hunt:before {content: "\f288"; } .fa-mixcloud:before {content: "\f289"; } .fa-scribd:before {content: "\f28a"; } .fa-pause-circle:before {content: "\f28b"; } .fa-pause-circle-o:before {content: "\f28c"; } .fa-stop-circle:before {content: "\f28d"; } .fa-stop-circle-o:before {content: "\f28e"; } .fa-shopping-bag:before {content: "\f290"; } .fa-shopping-basket:before {content: "\f291"; } .fa-hashtag:before {content: "\f292"; } .fa-bluetooth:before {content: "\f293"; } .fa-bluetooth-b:before {content: "\f294"; } .fa-percent:before {content: "\f295"; }

html {
  font-family: "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:     100%;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
button,
input,
select,
textarea {
  position: relative;
  color: #797c7e;
  font: 400 14px/1.5 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

embed,
iframe,
object,
video {
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

::-moz-selection { /* Code for Firefox */
    color: #ffffff !important;
    background: #4C5554;
}

::selection {
    color: #ffffff !important;
    background: #4C5554;
}

/* ====================================================== */
/* 2 General Styles */
/* --------------------------------------- */

/* Links */
/* --------------------------------------- */

a,
a i, 
button, 
input[type="submit"] {
    transition: all 0.3s ease 0s;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;
}

a,
a > p {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.logged-in.admin-bar .ab-top-menu a,
.logged-in.admin-bar .ab-top-menu a > p{
  color: inherit !important;
  font-family: inherit !important;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  border: none;
  text-decoration: none;
  color: #DFB200;
}

/* Typography */
/* --------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: #30373b;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

hr {
  box-sizing: content-box;
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

p {
    margin-bottom: 15px;
}

p a{
  text-decoration: underline;
}

q, 
blockquote {
    color: #787878;
}

q::before, 
q:before{
    content: open-quote;
}

q::after,
q:after {
    content: close-quote;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var,
samp {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 20px;
  list-style-position: inside;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

@media screen and (max-width: 767px){
  h1,
  h2 {
    font-size: 24px;
  }
}

/* Accessibility */
/* --------------------------------------- */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* Forms */
/* --------------------------------------- */

form {
  position: relative;
}

input {
  outline: 0;
  border: 1px solid #dddddd;
  height: inherit;
  color: #333333;
  font-size: 16px;
  padding: 8px 15px;
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button,
html input[type="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background: #F4B758;
  color: #352C00 !important;
  font-size: 18px;
  line-height: 1;
  padding: 18px 28px 18px;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 0;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #bababa;
  border: none;
  box-shadow: none;
  color: #352C00 !important;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
button.line-btn:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: #DFB200;
  border: none;
  box-shadow: none;
  color: #212121;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
  color: #b4b4b4;
  border: 2px solid #d1d1d1;
  background-color: #FFFFFF; 
  box-sizing: border-box;
  padding: 13px 5px 13px 15px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus{
  color: #414141;
  background-color: #ffffff; 
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  width: 100%;
  min-height: 120px;
}

optgroup {
  font-weight: bold;
}

select:focus{
  outline: none;
}

/* Button */
/* --------------------------------------- */

.btn-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

button,
a.button {
  outline: none;
  border: none;
  overflow: visible;
}

/* Underline Reveal */
a.button,
a.button:focus {
  display: inline-block;
  font-size: 13px;
  padding: 11px 20px 12px;
  color: #ffffff !important;
  background-color: #F4B758 !important;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
 -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

a.button:hover, 
a.button:active{
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  color: #ffffff !important;
  background-color: #d7942a !important;
}

/* Clearings */
/* ----------------------------------------------- */

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/* Table */
/* ----------------------------------------------- */

table,
th,
td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 600;
}

td {
  border-width: 0 1px 1px 0;
}

th, td {
  padding: 0.4em;
}

del {
  opacity: 0.8;
}

dl {
  margin-bottom: 1.6em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.6em;
  margin-left: 0;
}

dd a{
  text-decoration: underline;
}


/* ====================================================== */
/* 3 Header */
/* --------------------------------------- */

/* Header Top Bar */
/* ----------------------------------------------- */
.site-header {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 23px;
}

.site-header:after{
  display: table;
  content: "";
  clear: both;
}

.site-branding{
  text-align: center;
}

.site-branding p {
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}

.site-branding .site-title,
.site-branding .site-title a{
  color: #30373b;
  font-size: 42px;
  font-family: 'Arapey', serif;
  text-decoration: none;
  text-transform: uppercase;
}

.site-branding .site-title a:hover{
  color: #F4B758;
}

.site-branding .site-title{
  margin-top: 10px;
}

.site-description {
  color: #919191;
  font-size: 16px;
}

.site-description a{
  text-decoration: none;
}

.evision-social-section ul{
  list-style: none;
  margin-bottom: 0;
  margin-top: 17px;
  padding-left: 0;
}

.evision-social-section ul li{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px; 
}

.evision-social-section a:before {
  font-family: "FontAwesome";
  font-size: 22px;
}

.evision-social-section a{
  font-weight: 400;
  display: inline-block;
  text-align: center;
  color: #919191;
  margin-left: 5px;
  margin-right: 5px;
}

.evision-social-section a[href*="facebook.com"]:before {
  content: "\f09a";
}

.evision-social-section a[href*="twitter.com"]:before {
  content: "\f099";
}

.evision-social-section a[href*="linkedin.com"]:before {
  content: "\f0e1";
}

/*----------------------*/
.evision-social-section a:hover[href*="facebook.com"] {
  color: #3C579E;
}

.evision-social-section a:hover[href*="twitter.com"] {
  color: #01BBF6;
}

.evision-social-section a:hover[href*="linkedin.com"] {
  color: #1484C3;
}

.evision-social-section.social-icon-only a{
  font-size: 0;
}

.evision-social-section.social-icon-only a:before {
  font-size: 16px;
  color: #919191;
}

/* header-nav-bar */
/* ----------------------------------------------- */

.nav-inner{
  background: #ff7e00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
  border-radius: 5px; 
}

.main-navigation{
  background-color: #dddddd;
  display: none;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  color: #565656;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 17px 22px;
  text-decoration: none;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
  background: #565656;
  color: #ffffff !important;
}

/*submenu*/
.main-navigation ul ul {
  float: left;
  position: absolute;
  top: 3.5em;
  display: none;
  z-index: 99999;
  background: #212121;
}

.main-navigation ul ul a {
  font-size: 16px;
  padding: 12px 18px;
  width: 200px;
}

.main-navigation li:hover > a,
.main-navigation ul ul a:hover {
  color: #d7942c;
}

.main-navigation ul li:hover > ul {
  display: block;
}

/*mm-menu submenu*/

.main-navigation li > a.mm-next:hover,
.main-navigation li em.mm-counter:hover ~ a.mm-next{
  background-color: #f5f5f5;
}

.main-navigation li em.mm-counter{
  color: rgba(0, 0, 0, 0.7);
}

.main-navigation li:hover > .mm-counter{
  z-index: 3;
}

/*submenu level 2*/
.main-navigation ul ul ul {
  top: 0;
}

.main-navigation ul ul li:hover > ul {
  left: 100%;
}

@media screen and (min-width: 768px){
  .main-navigation ul ul ul{
      -webkit-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.5);
      -o-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.5);
  }
}
/*submenu level 2 ends*/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* --------------- amazing blog Nav Left ------------------------ */

.evision-nav-left .main-navigation .nav-menu{
  width: auto;
}

.evision-nav-left .main-navigation{
  background-color: transparent;
}

.evision-nav-left .main-navigation ul {
  text-align: left;
}

.evision-nav-left .main-navigation a {
  color: #ffffff;
  background-color: transparent;
}

.evision-nav-left .main-navigation a:hover{
  background-color: transparent
}

/* ====================================================== */
/* Sidebar */
/* --------------------------------------- */

.widget {
  margin: 0 0 2.8em;
}

.widget-title,
.widgettitle {
  font-size: 18px;
  font-weight: 600;
  color: #30373b;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 18px;
}

.widget ul{
  padding-left: 0;
  list-style: none;
}

.widget li {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}

.widget li a:hover{
  color: #F59223;
}

/* Make sure select elements fit in widgets. */

.widget select {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #cccccc;
  max-width: 100%;
  padding: 8px 15px;
}

@media screen and (max-width: 1023px){
  #secondary .widget{
    text-align: center;
  }
  .small-thumb-post .widget-title, 
  .small-thumb-post .widgettitle {
    text-align: left;
  }
}

@media screen and (max-width: 767px){
  #secondary {
    margin-top: 60px;
  }
}

/* Search widget. */
/* ------------------------------------ */

.search-form label {
  margin-bottom: 0;
  display: inline-block;
  width: 68%; /*fallback*/
  width: calc(100% - 106px);
}

.search-form .search-field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 52px;
  width: 100%;
  vertical-align: top;
  line-height: 26px;
  margin-bottom: 0;
  font-size: 14px;
  color: #b4b4b4;
  border: 2px solid #d1d1d1;
  background-color: #FFFFFF;
}

.search-form .search-submit {
  background-color: #f4b757;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff !important;
  text-transform: uppercase;
  display: inline-block;
  height: 52px;
  text-shadow: none;
  vertical-align: top;
  width: 102px;
  font-size: 14px;
  font-weight: 400;
}

.search-form .search-submit:hover,
.search-form .search-submit:focus{
  background-color: #d7942a;
  color: #ffffff !important;
}

/* widget_archive */
/* ------------------------------------ */


/* widget_calendar */
/* ------------------------------------ */

.widget_calendar table {
  margin: 0;
}

.widget_calendar td,
.widget_calendar th {
  border: 1px solid #ededed;
  line-height: 2.3333;
  text-align: center;
  padding: 0;
}

.widget_calendar caption {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0 0 1.6em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.widget_calendar tbody a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  background-color: #333;
  color: #fff;
  display: block;
  font-weight: 600;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
  background-color: #707070;
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
}

/* widget_categories */
/* ------------------------------------ */
  .widget_categories .children,
  .widget_nav_menu .sub-menu,
  .widget_pages .children {
    margin: 0.4688em 0 0 1em;
    padding-top: 0.4688em;
  }

/* widget_nav_menu */
/* ------------------------------------ */

/* widget_recent_entries */
/* ------------------------------------ */

.widget_recent_entries .post-date {
  font-style: normal;
  display: block;
  line-height: 2;
  opacity: 0.8;
  display: block;
}

/* widget_rss */
/* ------------------------------------ */

.widget_rss ul {
  list-style: none;
  margin: 0;
}

.widget_rss li {
  margin-bottom: 1.6em;
}

.widget_rss ul:last-child,
.widget_rss li:last-child {
  margin-bottom: 0;
}

.widget_rss .rsswidget {
  border: 0;
  font-weight: 700;
}

.widget_rss .rsswidget img {
  margin-top: -4px;
}

.widget_rss .rss-date,
.widget_rss cite {
  font-style: normal;
  display: block;
  line-height: 2;
  opacity: 0.8;
}

/* widget_custom */
/* ------------------------------------ */
.about-widget{
  text-align: center;
}

.about-widget .widget-title {
  font-size: 20px;
  font-weight: 400;
}

.about-widget a.button{
  width: 100%;
  margin-top: 15px;
}

.profile-thumb {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
  border-radius: 100%;
  width: 260px;
  height: 260px;
  overflow: hidden;
  margin: 20px auto 0;
  display: inline-block;
}

.profile-thumb img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.about-widget a.button-outline{
  background-color: #ffffff !important;
  border: 1px solid #e1e1e1 !important;
  color: #313131 !important;
}

.about-widget a.button-outline:hover{
  color: #313131 !important;
  border: 1px solid #F4B758 !important;
  background-color: #ffffff !important;
}

.social-widget .evision-social-section a {
  color: #f4b757;
  font-size: 22px;
  font-weight: 400;
  margin-left: 7px;
  margin-right: 7px;
}

.small-content-right {
  display: table;
  margin-top: 30px;
}

.small-content-right:first-child{
  margin-top: 0;
}

.small-content-right .round-thumb, 
.small-content-right .text {
  display: table-cell;
  float: left;
}

.small-content-right .round-thumb {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.small-content-right .round-thumb img{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.small-content-right .text{
  width: 68%; /*fallback*/
  width: calc(100% - 100px);
}

@media screen and (max-width: 1023px){
  .small-content-right .comment{
    text-align: left;
  }

  .small-content-right .round-thumb {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

}
/* ====================================================== */
/* Primary */
/* --------------------------------------- */

#hamburger:before {
  top: 10px;
}

#hamburger:after {
  top: 30px;
}

#hamburger {
  box-sizing: border-box;
  display: block;
  height: 45px;
  right: 0;
  position: fixed;
  transform: translateX(-50%);
  top: 37px;
  width: 50px;
  z-index: 99999;
  background-color: #F5F5F5;
}

#hamburger:before,
#hamburger:after, 
#hamburger span {
  background: #919191 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 5px;
  left: 10px;
  position: absolute;
  width: 30px;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
  transition-property: transform, top, bottom, left, opacity;
  transition-timing-function: ease;
}

#hamburger span {
  top: 20px;
}

body.logged-in #hamburger {
  margin-top: 32px;
}
html,
html.mm-opening{
  margin-top: 0 !important;
  -webkit-transition: all .5s !important;
  -o-transition: all .5s !important;
  transition: all .5s !important;
}
html.mm-opening #hamburger:before {
  -webkit-transform: rotate(45deg);;
  -moz-transform: rotate(45deg);;
  -ms-transform: rotate(45deg);;
  -o-transform: rotate(45deg);;
  transform: rotate(45deg);;
}

html.mm-opening #hamburger:before, 
html.mm-opening #hamburger:after {
  top: 20px;
}

html.mm-opening #hamburger::after {
  transform: rotate(-45deg);
}

html.mm-opening #hamburger span {
  left: 50px;
  opacity: 0;
}

@media screen and (min-width: 1200px){
  #hamburger {
    transform: translateX(-190%);
  }
}

/* Aricles */
/* ------------------------------------ */

.page article.hentry .entry-title,
.blog article.hentry,
#blog-post article.hentry, 
.search article.hentry, 
.archive article.hentry, 
.tag article.hentry, 
.category article.hentry, 
#ak-blog-post article.hentry {
  margin-bottom: 20px;
}

.page article.hentry .entry-title,
.blog article.hentry .entry-title,
.archive article.hentry .entry-title,
.single article.hentry .entry-title,
.search article.hentry .entry-title{
  font-size: 24px;
  text-transform: inherit;
  font-weight: 500;
  margin-bottom: 10px;
}

/*sticky post*/
article.sticky .block-holder{
  border-bottom: 3px solid #DFB200;
}

.cat-links:before {
  content: "\f07c";
  font-family: "FontAwesome";
  margin-right: 5px;
}

.tags-links:before {
  content: "\f02c";
  font-family: "FontAwesome";
  margin-right: 5px;
}

.tags-links {
  padding-left: 10px;
}

.comments-link:before {
  content: "\f086";
  font-family: "FontAwesome";
  margin-right: 5px;
}

.comments-link{
  display: block;
  margin-top: 15px;
}

.comments-title,
.comment-reply-title,
.comments-link {
  font-size: 18px;
  line-height: 1.3333;
}

.posted-on:before,
.site-content .date:before {
  content: "\f274";
  font-family: "FontAwesome";
  margin-right: 5px;
}


.posted-on a,
.date > a, 
.cat-links a, 
.tags-links a, 
.author a,
.comments-link a{
  color: #212121;
  font-weight: 500;
}

.posted-on a:hover, 
.date > a:hover,
.cat-links a:hover, 
.tags-links a:hover, 
.author a:hover,
.comments-link a:hover {
  color: #028484;
}

.edit-link {
  margin-left: 15px;
}

.edit-link a {
  color: #212121;
  font-weight: 700;
  text-decoration: underline;
}

.edit-link a:hover, 
.edit-link a:focus{
  color: #028484;
}

.nav-links .nav-previous a, 
.nav-links .nav-next a {
  color: #212121;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  padding: 6px 14px 7px 30px;
  position: relative;
}

.nav-links .nav-previous a:hover, 
.nav-links .nav-next a:hover{
  border-color: #F4B758;
  color: #313131;
}

.nav-links .nav-next a{
  padding-left: 14px;
  padding-right: 30px;
}

.nav-links .nav-previous a:before,
.nav-links .nav-next a:after{
  position: absolute;
  font-family: "FontAwesome";
  display: inline-block;
}

.nav-links .nav-previous a:before{
  content: "\f100";
  left: 15px;
}

.nav-links .nav-next a:after{
  content: "\f101";
  right: 15px;
  left: auto;
}

.format-icon {
  background: #f4b757 none repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  float: left;
  font-size: 20px;
  height: 54px;
  left: 0;
  line-height: 54px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 70px;
  z-index: 9999;
}

.standard .format-icon i.amazing-post-icon:before,
.aside .format-icon i.amazing-post-icon:before,
.image .format-icon i.amazing-post-icon:before,
.video .format-icon i.amazing-post-icon:before,
.audio .format-icon i.amazing-post-icon:before,
.quote .format-icon i.amazing-post-icon:before,
.gallery .format-icon i.amazing-post-icon:before,
.link .format-icon i.amazing-post-icon:before,
.status .format-icon i.amazing-post-icon:before,
.chat .format-icon i.amazing-post-icon:before{
  content: "\f08d";
  font-family: "fontawesome";
  font-size: 22px; 
  font-style: normal;
}

.aside .format-icon i.amazing-post-icon:before{
  content: "\f0ea";
}

.video .format-icon i.amazing-post-icon:before{
  content: "\f03d";
}

.audio .format-icon i.amazing-post-icon:before{
  content: "\f028";
}

.quote .format-icon i.amazing-post-icon:before{
  content: "\f10e";
}

.gallery .format-icon i.amazing-post-icon:before{
  content: "\f1de";
}

.image .format-icon i.amazing-post-icon:before{
  content: "\f03e";
}

.link .format-icon i.amazing-post-icon:before{
  content: "\f0c1";
}

.status .format-icon i.amazing-post-icon:before{
  content: "\f24d";
}

.chat .format-icon i.amazing-post-icon:before{
  content: "\f1d7";
}

@media screen and (max-width: 639px){
  .format-icon{
    top: 0;
  }
}
/* ====================================================== */
/* Footer */
/* --------------------------------------- */

.site-footer {
  background-color: #636B6B;
  padding-top: 25px;
  padding-bottom: 5px;
  color: #e1e1e1;
}

/* Site Info */
/* --------------------------------------- */

.site-info {
  padding-bottom: 25px;
  padding-top: 10px;
  text-align: center;
  color: #e1e1e1;
}

.copyright{
  text-align: center;
  color: #e1e1e1;
}

.site-footer .site-info a{
  color: #ffffff !important;
}

.site-footer .site-info a:hover{
  color: #F4B758;
}

/* ====================================================== */
/* Content */
/* --------------------------------------- */
.site-content {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

body.single .site-content{
  margin-bottom: 60px;
}

.full-layout .site-content{
  width: auto;
}

.site-content:before,
.site-content:after{
  display: block;
  clear: both;
  content: "";
}

#primary,
#secondary{
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

#primary {
  float: left;
  width: 66.66666667%;
}

#secondary {
  float: left;
  width: 33.33333333%;
}

/*right-sidebar start*/

body.evision-right-sidebar #primary {
  float: left;
   width: 66.66666667%;
}

body.evision-right-sidebar #secondary {
  float: right;
  width: 33.33333333%;
}

/*right-sidebar ends*/

/*left-sidebar start*/

body.evision-left-sidebar #primary {
  float: right;
   width: 66.66666667%;
}

body.evision-left-sidebar #secondary {
  float: left;
  width: 33.33333333%;
}

/*left-sidebar ends*/

/*no-sidebar start*/

body.evision-no-sidebar #primary {
  float: left;
  width: 100%;
}

@media screen and (max-width: 1199px){
  body .site-content{
      width: 1060px;
  }
}

@media only screen and (max-width: 1170px){
  body .site-content{
      width: 96%;
      margin: 0 auto;
  }

  .container:before, 
  .container:after{
      display: block;
      clear: both;
      content: "";
  }
}

@media screen and (max-width: 1023px){
  body .site-content{
      width: 800px;
  }
  #primary,
  #secondary {
    width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 767px){
  body .site-content {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
  }

  #primary,
  body.evision-right-sidebar #primary,
  body.evision-left-sidebar #primary,
  #secondary,
  body.evision-right-sidebar #secondary,
  body.evision-left-sidebar #secondary  {
    width: 100%;
    float: none;
  }
}

#primary aside.widget .post-content {
  margin-bottom: 50px;
}

/*post image position*/

.entry-content .image-left {
  float: left;
  margin-right: 20px;
}


@media screen and (max-width: 991px){
  .entry-content .image-left {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

}


/* Alignments */
/* --------------------------------------- */

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Posts and Pages */
/* --------------------------------------- */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/*page links/pagination*/

.page-links {
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 2em;
}

.page-links a,
.page-links > span {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 15px;
  height: 2em;
  line-height: 2;
  margin: 0 3px 3px 3px;
  text-align: center;
  width: 2em;
}

.page-links a {
  background-color: #f7f7f7;
  color: #333;
}

.page-links a:hover,
.page-links a:focus {
  background-color: #707070;
  border-color: transparent;
  color: #fff;
}

/* Asides */
/* --------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

article.hentry .entry-title,
article.hentry .entry-title a,
.entry-title a{
  color: #55C932;
}

/* Comments */
/* --------------------------------------- */

.comment-list + .comment-respond {
    border-top: 1px solid #eaeaea;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
    padding-top: 1.6em;
}

.comments-title,
.comment-reply-title {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.3333;
}

.comments-title {
    margin-bottom: 1.3333em;
}

.comment-list {
    list-style: none;
    margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    border-top: 1px solid #eaeaea;
    padding: 1.6em 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;
}

.comment-list .children > li {
    padding-left: 0.8em;
}

.comment-author {
    color: #707070;
    margin-bottom: 0.4em;
}

.comment-author a:hover {
    border-bottom: 1px solid #707070;
}

.comment-author .avatar {
    float: left;
    height: 32px;
    margin-right: 0.8em;
    width: 32px;
    border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -o-border-radius: 30px;
      -ms-border-radius: 30px;
}

.comment-metadata,
.pingback .edit-link {
    color: #999999;
    font-weight: 700;
}

.comment-metadata a,
.pingback .edit-link a {
    color: #707070;
}

.comment-metadata a:hover,
.pingback .edit-link a:hover {
    border-bottom: 1px solid #333;
}

.comment-metadata a.comment-edit-link:hover{
    border-bottom: none;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
    color: #333;
}

.comment-metadata {
    margin-bottom: 1.6em;
}

.comment-metadata .edit-link {
    margin-left: 1em;
}

.pingback .edit-link {
    margin-left: 1em;
}

.pingback .edit-link:before {
    top: 5px;
}

.comment-content ul,
.comment-content ol {
    margin: 0 0 1.6em 1.3333em;
}

.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0;
}

.comment-content > :last-child {
    margin-bottom: 0;
}

.comment-list .reply {
    font-size: 12px;
}

.comment-list .reply a {
    border: 1px solid #eaeaea;
    color: #707070;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-top: 2em;
    padding: 0.6167em 0.8333em;
    text-transform: uppercase;
}

.comment-list .reply a:hover,
.comment-list .reply a:focus {
    border-color: #333;
    color: #333;
    outline: 0;
}

.comment-form {
  padding-top: 1.6em;
}

.comment-form label {
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: block;
  line-height: 1.5;
  text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
  width: 100%;
}

.comment-form input[type="submit"]{
  color: #ffffff !important;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 2em;
}

.logged-in-as a:hover {
  border-bottom: 1px solid #333;
}

.no-comments {
  border-top: 1px solid #eaeaea;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding-top: 1.6em;
}

.comment-navigation + .no-comments {
  border-top: 0;
}

.form-allowed-tags code {
  font-family: "Open Sans", sans-serif;
}

.form-submit {
  margin-bottom: 0;
}

.required {
  color: #c0392b;
}

.comment-reply-title small {
  font-size: 100%;
}

.comment-reply-title small a {
  border: 0;
  float: right;
  height: 32px;
  overflow: hidden;
  width: auto;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Posts and Pages */
/* --------------------------------------- */

.error404 #primary {
  width: 100%;
}

.error404 .search-form{
  margin-bottom: 30px;
}
/* ====================================================== */
/* Infinite scroll */
/* --------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/* ====================================================== */
/* Media */
/* --------------------------------------- */

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* ====================================================== */
/* Captions */
/* --------------------------------------- */

.wp-caption {
  margin-bottom: 1em;
  max-width: 100%;
}


.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption.alignnone img{
  float: left;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* ====================================================== */
/* Galleries */
/* --------------------------------------- */

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

@media screen and (max-width: 767px){

.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
  max-width: 100%;
}
}

@media screen and (max-width: 480px){
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item {
  max-width: 100%;
}
}

/* ====================================================== */
/* 10 Global */
/* --------------------------------------- */

.pad0l{
    padding-left: 0px;
}
.pad0r{
    padding-right: 0px;
}
.pad0lr{
    padding-left: 0px;
    padding-right: 0px;
}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-same-height {
  display: table-cell;
  float: none !important;
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media screen and (max-width: 767px){

  .evision-social-section ul{
    padding-left: 0;
    text-align: center;
  }

}
/*back-to-top section*/
.evision-back-to-top {
  background: #f4b757 none repeat scroll 0 0;
  border-radius: 2px;
  bottom: 15px;
  color: #ffffff;
  display: inline-block;
  font-size: 28px;
  height: 40px;
  line-height: 34px;
  position: fixed;
  right: 15px;
  text-align: center;
  transition: all 1s ease 0s;
  width: 40px;
  z-index: 9999999;
}

.evision-back-to-top:hover{
  border-radius: 50px;
}

.evision-back-to-top i{
  color: #ffffff;
}

/*overflow hidden*/
.overhidden{
  overflow: hidden;
}

/*third party style*/
/*contact form 7 plugin style*/

.wpcf7-form-control {
  height: 50px;
  margin-bottom: 15px;
  width: 100%;
}

/*mmenu*/

.mm-navbar .mm-title {
  font-size: 16px;
  font-weight: 600;
  padding-top: 9px;
  padding-bottom: 10px;
}

.mm-navbar .mm-btn:last-child {
  color: #414141;
  font-size: 20px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-top: 7px;
  right: 10px;
}

/*bxslider*/
.bx-wrapper .bx-controls-direction a{
  font-size: 0;
  border: 2px solid #fff;
  color: #ffffff !important;
  display: inline-block;
  height: 50px;
  line-height: 44px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  margin-left: 20px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.small-thumb-post .bx-wrapper .bx-controls-direction a{
  color: #414141 !important;
}

.bx-wrapper:hover .bx-controls-direction a {
    opacity: 1;
}

.bx-wrapper .bx-controls-direction a:before {
  content: "\f104";
  font-family: "fontawesome";
  font-size: 30px;
}

.bx-wrapper .bx-controls-direction a.bx-next {
  margin-right: 40px;
}

.bx-wrapper .bx-controls-direction a.bx-next:before{
  content: "\f105";
}

.bx-wrapper .bx-pager {
  bottom: 15px;
  font-size: 0;
  left: 0;
  padding-right: 10px;
  text-align: right;
}

.bx-wrapper .bx-pager.bx-default-pager a{
  background-color: #919191; 
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #F4B758 none repeat scroll 0 0;
}

/*small thumb post slider*/

.small-thumb-post .bx-wrapper .bx-controls-direction a {
  border: 1px solid #d1d1d1;
  height: 36px;
  line-height: 32px;
  margin-left: 5px;
  opacity: 1;
  width: 36px;
  color: #535a5e;
  left: auto;
  margin-top: -50px;
  right: 0;
  top: 0;
}

.small-thumb-post .bx-wrapper .bx-controls-direction a.bx-next {
  margin-right: 0;
}

.small-thumb-post .bx-wrapper .bx-controls-direction a.bx-prev {
  left: auto;
  right: 45px;
}

.small-thumb-post .bx-wrapper:hover .bx-controls-direction a {
  color: #d1d1d1;
}

@media screen and (max-width: 639px){
  .bx-wrapper .bx-pager {
    top: 0;
  }

  .small-thumb-post .bx-wrapper .bx-pager {
    top: 50%;
  }
}

/*flicker*/
.flicker-widget #flickr_badge_wrapper{
  width: 100%;
}

/*-------------------- breadcrumb section -----------------*/

#breadcrumb {
  background-color: #bababa;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 40px;
  padding-bottom: 21px;
  padding-top: 20px;
}

#breadcrumb a{
  color: #ffffff;
}

#breadcrumb a:hover{
  opacity: 0.7;
}

#breadcrumb span{
  margin-right: 5px;
  margin-left: 5px;
}

#breadcrumb span:first-child{
  margin-left: 0;
}

.wrapper{
    float: left;
    width: 100%;
    background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-section{
  position: relative;
  vertical-align: top;
  margin-bottom: 30px;
}

.block-overlay-content {
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
  /*padding: 20px 5px;*/
  box-sizing: border-box;
  overflow: hidden;
}

.block-container{
  position: relative;
}

.block-holder{
  padding: 20px;
  background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
    -ms-box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
  border-bottom: 1px solid #c4c4c4;
}

#secondary aside.widget .block-holder {
  border: medium none;
  box-shadow: none;
  padding: 0;
}

.thumb-holder{
  text-align: center;
}

.thumb-holder > img {
  width: 100%;
}

.block-section img{
  vertical-align: top;
}

.vmiddle-holder {
  display: table;
  height: 100%;
  width: 100%;
  padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.vmiddle {
  display: table-cell;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.block-title{
  margin-bottom: 60px;
}

.cat-list-holder > a {
  background: #f4b757 none repeat scroll 0 0;
  display: inline-block;
  font-weight: 600;
  padding: 8px 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.site-content .block-overlay-content .cat-list-holder > a{
  color: #ffffff !important;
}

.site-content .block-overlay-content .cat-list-holder > a:hover{
  color: #ffffff !important;
  background-color: #d7942a;
}

.highlight-post .block-container .block-overlay-content .caption a{
  color: #212121 !important;
}
  
@media screen and (max-width: 639px){
  .block-overlay-content{
    position: static;
    background: #636b6b none repeat scroll 0 0;
  }
}
/*-------------------- large feature section -----------------*/

.large-feature-post h1{
  font-family: 'Arapey', serif;
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 20px;
  text-transform: inherit;
    -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -o-text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -ms-text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

@media screen and (max-width: 767px){
  .large-feature-post h1{
    font-size: 20px; /*fallback*/
    font-size: 6vw;
  }
}

/*-------------------- content bottom post section -----------------*/

.content-bottom-post h3{
  margin-bottom: 5px;
  margin-top: 30px;
}

.site-content .date{
  color: #F4B758;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-top: 9px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1023px){
  .content-right-post .post-content{
    margin-top: 30px;
  }
}

/*-------------------- quote post section -----------------*/

.quote-post .block-container{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quote-post .block-overlay-content.quote{
  position: static;
}

.quote-post {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.quote-post p, 
.quote-post h3 {
  color: #fff;
  margin-bottom: 20px;
  text-align: left;
}

@media screen and (max-width: 767px){
  .quote-post p,
  .quote-post h3 {
    font-size: 14px;
    line-height: 18px;
    padding-left: 0;
    padding-right: 0;
  }
}

/*-------------------- video/audio post section -----------------*/

.video-post .block-overlay-content,
.audio-post .block-overlay-content{
  height: 72px;
  margin: 0;
  width: 94px;
}

@media screen and (max-width: 639px){
  .video-post .block-overlay-content,
  .audio-post .block-overlay-content {
    background: transparent none repeat scroll 0 0;
    position: absolute;
  }
}

/*-------------------- footer widget section -----------------*/

.footer-block{
  background-color: #F5F5F5;
  margin-bottom: 0;
}

.footer-block .widget.widget_text{
  margin-bottom: 0;
}